/* ===== Shared Blur Background ===== */
.glow-bg {
    position: absolute;
    z-index: -10;
    border-radius: 9999px;
    filter: blur(10rem); /* เพิ่มความเบลอ */
    flex: 1;
  }
  
  /* ===== Google Blue Circle (ซ้าย) ===== */
  .glow-circle {
    top: -6rem;
    left: calc(50% - 5rem);
    transform: translateX(-50%);
    width: 20rem;
    height: 20rem;
    border-radius: 9999px;
    background-color: rgba(66, 133, 244, 0.5); /* Google Blue - 50% */
    filter: blur(14rem);
    z-index: -10;
    position: absolute;
  }
  
  .glow-oval {
    top: 14rem;
    /* left: calc(50% + 5rem); */
    transform: translateX(-50%);
    width: 30rem;
    height: 25rem;
    border-radius: 9999px;
    background-color: rgba(234, 67, 53, 0.5); 
    filter: blur(14rem);
    z-index: -10;
    position: absolute;
  }
  
  
  /* ===== Dark Mode Support ===== */
  @media (prefers-color-scheme: dark) {
    .glow-circle {
      background-color: rgba(42, 86, 198, 0.5); /* darker blue */
    }
  
    .glow-oval {
      background-color: rgba(161, 44, 36, 0.5); /* darker red */
    }
  }
  
  .dark .glow-circle {
    background-color: rgba(42, 86, 198, 0.5);
  }
  .dark .glow-oval {
    background-color: rgba(161, 44, 36, 0.5);
  }
  
  
  /* ===== Responsive Enhancements ===== */
  @media (min-width: 640px) {
    .glow-circle {
      width: 68.75rem;
      height: 30rem;
    }
  
    .glow-oval {
      width: 68.75rem;
      height: 28rem;
    }
  }
  